<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-12">
				<h3>Welcome to Cognition</h3>
				<label>A Real Time Questionnaire Application</label>
				<p>Cognition is a web application that enhences the classroom environment for learning with interactive questions created by the professor. These questions are bundled into a quiz that can be broadcasted to show up on each of the students' device when the professor chooses to display them. It has various features such as grading/releasing the quiz as feedback for the students who took it, real-time update on how many students answered the aired question (as well as their choice), saved released quiz for future access, and much more.</p>
			</div>
		</div>
		<br>
		<br>

		<div class="row">
			<p data-ng-hide="authentication.user">
				Sign in or Create an Account in the nav bar.
			</p>
            <p data-ng-show="authentication.user">
                Welcome, <span data-ng-bind="authentication.user.displayName"></span>.
                <!-Ternary expression to display if user's role is 'user' or 'admin'-->
                You are a <strong>{{ authentication.user.roles == 'user' ? 'Student' : 'Professor'}}</strong>
            </p>
		</div>
	</div>
</section>