<section data-ng-controller="HomeController">
	<div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Student Homepage
            </h3>
        </div>
        <div class="panel-body">
            <div class="text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-12">
                        <h4>We're sorry, our multiple choice website is under construction.</h4>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <p data-ng-hide="authentication.user">
                        Sign in or Create an Account in the nav bar.
                    </p>
                    <p data-ng-show="authentication.user">
                        Welcome, <span data-ng-bind="authentication.user.displayName"></span>.
                        <!-Ternary expression to display if user's role is 'user' or 'admin'-->
                        You are a <strong>{{ authentication.user.roles == 'user' ? 'Student' : 'Professor'}}</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
