<section class="row" data-ng-controller="AuthenticationController">

<!-- 	Dont want social acc's
	<h3 class="col-md-12 text-center">Sign in using your social accounts</h3>
	<div class="col-md-12 text-center">
		<a href="/auth/facebook" class="undecorated-link">
			<img src="/modules/users/img/buttons/facebook.png">
		</a>
		<a href="/auth/twitter" class="undecorated-link">
			<img src="/modules/users/img/buttons/twitter.png">
		</a>
		<a href="/auth/google" class="undecorated-link">
			<img src="/modules/users/img/buttons/google.png">
		</a>
		<a href="/auth/linkedin" class="undecorated-link">
			<img src="/modules/users/img/buttons/linkedin.png">
		</a>
		<a href="/auth/github" class="undecorated-link">
			<img src="/modules/users/img/buttons/github.png">
		</a>
	</div>

 -->

 	<div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 login-form-bg">
		<h1>Sign in</h1>
		<hr>
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<div data-ng-show="error" class="text-center text-danger">
						<div class="alert alert-danger" role="alert">
							<strong data-ng-bind="error"></strong>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="input-group input-group-lg">
						<span class="input-group-addon" id="basic-addon1">
							<i  class="text-muted glyphicon glyphicon-user"></i>
						</span>
						<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
					</div>
				</div>

				<div class="form-group">
					<div class="input-group input-group-lg">
						<span class="input-group-addon" id="basic-addon1">
							<i class="text-muted glyphicon glyphicon-asterisk"></i>
						</span>
						<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
					</div>
				</div>

				</br>

				<div class="text-center form-group">
					<button type="submit" class="btn btn-success btn-lg btn-block">Sign in</button>
				</div>
				<div class="forgot-password text-center form-group">
					<a href="/#!/password/forgot">Forgot your password?</a> &nbsp; Or &nbsp; 
					<a href="/#!/signup">Sign up</a>

				</div>
			</fieldset>
		</form>
	</div>
</section>