.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

body{
	background-color: #EEEEEE;
}

header.navbar-default {
    background-color: #A8A8A8;
    border-color: #E7E7E7;	
}

/* Title, ie: "Multiple-Choice-App */
.navbar-default .navbar-brand {
    color: #000000;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #000000;
}

/* Link, ie: "Courses", "Sign in", etc. */
.navbar-default .navbar-nav > li > a {
    color: #000000;
}

div .navbar-header > img {
    padding: 0;
    max-height: 100%;
}

/* Text color when hovering over */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #000000;
    background-color: #D5D5D5;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}
/* mobile version */
.navbar-default .navbar-toggle {
    background-color: #A8A8A8;
    border-color: #A8A8A8;
}
.navbar-default .navbar-collapse{
    border-color: #A8A8A8;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    border-color: #A8A8A8;
    background-color: #3D3D3D;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-nav {
        margin: .1px -15px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
            color: #FFFFFF;
    }
    .navbar-default .navbar-nav .dropdown-menu{
        color: #434A54;
        background-color: #434A54;
        border: none;
    }
        .navbar-default .navbar-nav .open .dropdown-menu>.divider{
            background-color: #656d78;
            color: #656d78;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #FFFFFF;
            background-color: #656D78;
    }
}
