<div class="alert alert-success" role="alert" ng-show="currentQuestion">
    <h5>A Question is active!</h5>
    <strong>TIME REMAINING:</strong> {{currentQuestion.time}}
    <div class="">
        <img src="{{currentQuestion.imageSource}}" ng-if="currentQuestion.imageSource" id="questImg"/>
        <progressbar class="progress-striped active" value="currentQuestion.time" max="currentQuestion.maxTime" type="warning">
            {{currentQuestion.time}} seconds remaining
        </progressbar>
    </div>

    <p data-ng-bind="currentQuestion.description"></p>
    <ul>
        <li ng-repeat="answer in currentQuestion.answers">
            <label>
                <input type="radio" name="ansradio" ng-click="submitAnswer(answer._id)" />
                {{answer.name}}
            </label>
        </li>
    </ul>
</div>
