<section data-ng-controller="CoursesController" data-ng-init="findOneQuiz()">
    <div class="page-header">
        <h1 data-ng-bind="quiz.name"></h1>
    </div>
    <div class="pull-right">
        <a class="btn btn-primary" href="/#!/courses/{{course._id}}/{{quiz._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">
            Created on
            <span data-ng-bind="quiz.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="course.owner.displayName"></span>
        </em>
    </small>
</section>
