<div>

	<h4 ng-show="authentication.user.storedAnswers.length === 0">Haha you have all F's</h4>

	<!--only students can see their list of released quizzes in the Grades tab 
	ng-if="authentication.user.storedAnswers.length !== 0 && authentication.user.roles[0] === 'user'"-->
	<div ng-if="authentication.user.roles[0] === 'user'" class="col-xs-8 col-xs-offset-2">
		
		<h4 class="text-center">Released Quiz Scores</h4>

		<ul class="list-group">
			
			<!--gonna need to find a better way to display this... maybe populate all of storedAnswers fields? -->
			<li class="list-group-item" ng-repeat="quiz in course.quizzes | filter: {released: true}" >

				<div ng-repeat="answer in authentication.user.storedAnswers | filter: {quizId: quiz._id}">

					

					<accordion close-others="oneAtATime">
						<accordion-group>
							<accordion-heading>
								<strong >{{quiz.name}}</strong>
								<span class="pull-right">Score: {{answer.score}}/{{quiz.questions.length}} <span>

							</accordion-heading>

							<div ng-repeat="q in quiz.questions">
								<strong>Question</strong> <br>
								{{q.description}} <br>
								
								<strong>Answers</strong>

								<div ng-repeat="a in q.answers">
									{{a.name}}
				                    <span ng-show="a.valid === true">
				                        <i class="glyphicon glyphicon-ok" style="color:green"></i>
				                    </span>
				                    <span ng-show="!a.valid">
				                        <i class="glyphicon glyphicon-remove" style="color:red"></i>
				                    </span>
								</div>
								<br>
							</div>

						</accordion-group>
					</accordion>
					
					

				</div>
			</li>





		</ul>






	</div>
	

</div>