.list-group{
	padding-right: 0;
}

.course-header {
	border-bottom: 1px solid #ccc;
}

.quiz-head{
	margin-bottom: 10px;

}

p.ex {
    width: 120px;
}

.hundred-padding {
    padding: 100px 100px 100px 100px;
}

/*.header {
	border: 1px solid #ccc;
	border-radius: 5px;
}*/

.margin{
    margin: 0 5px 0 5px;
}

.some-margin{
	margin-top: 30px;
	margin-bottom: 15px;
}

.bot-margin{
	margin-bottom: 15px;
}

.top-margin{
    margin-top: 10px;
}

.input-xs {
    height: 22px;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.highlight {
    background-color: yellow;
}

i.glyphicon-ok {
    font-size: 1.5em;
}

i.glyphicon-remove {
    font-size: 1.5em;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
    transform: scale(2)
      
}

div.well{
    background-color: rgb(211, 211, 211);
}

.grey{
    background-color: rgb(231, 231, 231);
}

.blue{
    background-color: #0021A5;
}

.editable-wrap {
    position:relative;
    left:100px;
    width: 60%;
}

.question-display{
    font-size: 1.8em;
    cursor: pointer;
    cursor: hand;
}

.grade-list .panel-heading {
    background-color: transparent;
    border-color: transparent;
}
.grade-list .panel-group {
    margin: 0;
}
.questImg {
    max-width: 75%;
    margin:10px 5px;
}

.quiz-list .row {
    margin-right: 0px; 
}
